body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  background-color: #4f134b;
}

.a-venir {
  position: relative;
  width: 100vw;
  opacity: 1;
  transition: opacity 0.2s ease-out; 
  background-color: #4f134b;
}

.photo-anim1 {
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
  animation: slideInDown 1s ease-out forwards;
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.photo-anim2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  animation: slideInUp 1s ease-out forwards;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
